<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-300 flex justify-center items-center h-screen ">
    <div class="w-64 bg-white py-5 rounded-xl px-2 duration-200 hover:shadow-black/10 hover:shadow-xl cursor-pointer">
        <div class="relative">
            <img src="img/asus1.webp" alt="" class="w-full">
            <i class="fa-regular fa-heart absolute text-gray-400 top-0 right-2 duration-200 hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-blue-700 hover:to-red-700 hover:shadow-md hover:shadow-black/40 p-2.5 rounded-full"></i>
        </div>
        <div class="w-full">
            <h1 class="text-2xl text-blue-500 font-semibold my-2 hover:text-[#0D63F3]">
                20.000.000đ
            </h1>
            <p class="w-full text-base my-2 line-clamp-2">
                Laptop HP 245 G9 R5 5625U/8GB/256GB/14"FHD/Win11
            </p>
            <p class="text-gray-600 text-sm my-2">
                số lượng: 12334
            </p>
        </div>
        <div class="w-full flex justify-between mt-4">
            <button class="w-[65%] py-1 text-xl uppercase font-bold rounded-lg bg-blue-600 text-white ">mua</button>
            <button class="w-[30%] py-1 text-xl rounded-full text-gray-600">
                <i class="fa-solid fa-cart-shopping text-gray-400 hover:bg-clip-text duration-200 hover:text-transparent hover:bg-gradient-to-r hover:from-blue-500 hover:to-red-500"></i>
            </button>
        </div>
    </div>
</body>
</html>