<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-300 flex justify-center items-center h-screen">
    <div class="rel w-36 h-56 rounded-xl flex flex-col justify-center items-center bg-white hover:shadow-xl duration-200 hover:shadow-black/10 box-content">
        <div>
            <img src="img/samsung.webp" alt="" class="w-32 rounded-xl">
        </div>
        <div class="text-center mt-5 text-lg font-medium">
            <h1>
                Điện thoại
            </h1>
        </div>
    </div>
</body>
</html>