<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-gray-300 flex justify-center items-center h-screen">
    <div class="w-[90%] bg-white h-[90%] rounded-2xl shadow-md lg:flex">


        <!-- Left  -->

        <div class="lg:w-4/6 relative shadow-md">
            <img class="w-full h-2/5 rounded-tl-2xl" src="https://i.ibb.co/kQs79v4/php7554.png" alt="">
            <div class="absolute w-[150px] h-[80px] top-0 flex justify-center items-center">
                <p class="text-white"> <i class="fa-solid fa-arrow-left"></i> Quay lại </p>
            </div> 
            <div class="w-full p-4 md:p-12">
                <div class="flex items-end">
                    <p class="text-yellow-800 font-bold text-2xl"> Giỏ hàng </p>
                    <span class="text-red-400 ml-4 font-bold"> 3 vật phẩm </span>
                </div>
                <!-- start card -->
                <div class="w-full h-24 flex justify-between items-center relative">
                    <div class="h-full flex items-start ml-2">
                        <div class="w-20 h-[80%] bg-gray-100 rounded-xl my-auto flex items-center justify-center">
                            <img class="w-4/5" src="https://tea-3.lozi.vn/v1/images/resized/banh-mi-hong-loan-quan-binh-tan-ho-chi-minh-1648177821257642104-eatery-avatar-1650469995?w=640&type=s" alt="">
                        </div>
                        <div class="ml-3 w-auto h-[80%] my-auto">
                            <p class="font-bold"> Sản phẩm 1 </p>
                            <p class="text-gray-400"> Màu tím </p>
                            <p class="text-gray-500"> Số lượng: 1 </p>
                        </div>
                    </div>
                    <div class="mr-24 flex justify-between items-center">
                        <p class="text-gray-500">$500</p>
                    </div>
                    <i class="fa-solid fa-circle-xmark duration-300 absolute top-auto right-2 hover:text-red-500"></i>
                </div>


                <div class="w-full h-24 flex justify-between items-center relative">
                    <div class="h-full flex items-start ml-2">
                        <div class="w-20 h-[80%] bg-gray-100 rounded-xl my-auto flex items-center justify-center">
                            <img class="w-4/5" src="https://tea-3.lozi.vn/v1/images/resized/banh-mi-hong-loan-quan-binh-tan-ho-chi-minh-1648177821257642104-eatery-avatar-1650469995?w=640&type=s" alt="">
                        </div>
                        <div class="ml-3 w-auto h-[80%] my-auto">
                            <p class="font-bold"> Sản phẩm 1 </p>
                            <p class="text-gray-400"> Màu tím </p>
                            <p class="text-gray-500"> Số lượng: 1 </p>
                        </div>
                    </div>
                    <div class="mr-24 flex justify-between items-center">
                        <p class="text-gray-500">$500</p>
                    </div>
                    <i class="fa-solid fa-circle-xmark absolute top-auto right-2 hover:text-red-500"></i>
                </div>
                <!-- end card -->
            </div>
        </div>


        <!-- Left  -->


        <!-- Right  -->


        <div class="lg:w-2/6 rounded-tr-2xl rounded-br-2xl lg:h-full bg-gray-100">

            <div class="w-full h-full p-4 md:p-24">
                <div class="flex items-center">
                    <div class="pr-4 pb-4">
                        Thanh toán: <span class="font-bold text-blue-300">Chuyển Khoản</span>
                    </div>
                </div>


                <div>
                    <div class="font-bold mb-2">
                        Nhập mã khuyến mãi:
                    </div>

                    <div class="w-full h-20 bg-white shadow-md flex rounded-md relative my-2">
                        <div class="selectVoucher w-1/3 h-full flex justify-center items-center border-r-2 border-blue-200 border-dashed mr-2 relative">
                            <img class="w-[80%]" src="https://cdn-icons-png.flaticon.com/512/4213/4213958.png" alt="">
                            <img class="absolute opacity-80 w-2/3" src="https://cdn3.iconfinder.com/data/icons/round-default/64/add-512.png" alt="">
                        </div>
                        <div class="w-full">
                            <div class="text-gray-500 font-bold">
                                nghiaOMG Voucher
                            </div>
                            <div>
                                giảm 30,000đ cho đơn từ 400,000đ
                            </div>
                        </div>
                    </div>

                    <div class="w-full h-20 bg-white shadow-md flex rounded-md relative my-2">
                        <div class="selectVoucher w-1/3 h-full flex justify-center items-center border-r-2 border-blue-200 border-dashed mr-2 relative">
                            <img class="w-[80%]" src="https://cdn-icons-png.flaticon.com/512/4213/4213958.png" alt="">
                            <img class="absolute opacity-80 w-2/3 hidden" src="https://cdn3.iconfinder.com/data/icons/round-default/64/add-512.png" alt="">
                        </div>
                        <div class="w-full">
                            <div class="text-gray-500 font-bold">
                                nghiaOMG Voucher
                            </div>
                            <div>
                                giảm 30,000đ cho đơn từ 400,000đ
                            </div>
                        </div>
                    </div>

                    <div class="w-full h-20 bg-white shadow-md flex rounded-md relative my-2">
                        <div class="selectVoucher w-1/3 h-full flex justify-center items-center border-r-2 border-blue-200 border-dashed mr-2 relative">
                            <img class="w-[80%]" src="https://cdn-icons-png.flaticon.com/512/4213/4213958.png" alt="">
                            <img class="absolute opacity-80 w-2/3 hidden" src="https://cdn3.iconfinder.com/data/icons/round-default/64/add-512.png" alt="">
                        </div>
                        <div class="w-full">
                            <div class="text-gray-500 font-bold">
                                nghiaOMG Voucher
                            </div>
                            <div>
                                giảm 30,000đ cho đơn từ 400,000đ
                            </div>
                        </div>
                    </div>


                </div>

                <div class="mt-12">

                    <div class="flex justify-between">
                        <div>
                            Tổng giá tiền:
                        </div>
                        <div>
                            12,000đ
                        </div>
                    </div>

                    <div class="flex justify-between my-2">
                        <div>
                            Giảm giá:
                        </div>
                        <div>
                            5,000đ
                        </div>
                    </div>

                    <div class="flex justify-between items-center">
                        <div>
                            Thanh toán: 
                            <br>
                            <span class="font-bold">7,000đ</span>
                        </div>
                        <div>
                            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center">
                                Thanh toán
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <!-- Right  -->
    </div>
    <script>
        $('.selectVoucher').click(function(){
            $(this).find('img:nth-child(2)').toggleClass('hidden')
        })
    </script>
</body>
</html>