.splide .splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .splide .splide__slide img{
    border-radius: 0.5em;
    width: 85%;
    height: 200px;
  }
  .splide .splide__arrow--next{
    right: 0em;
  }
  .splide .splide__arrow--prev{
    left: 0em;
  }
  @media (min-width: 768px){
  .splide .splide__slide img{
    border-radius: 1em;
    width: 80%;
    height: 400px;
  }
  .splide .splide__arrows .splide__arrow{
    width: 3em;
    height: 3em;
  }
  .splide .splide__arrows .splide__arrow svg{
    fill:white;
  }
  .splide .splide__arrow--next{
    right: 3em;
  }
  .splide .splide__arrow--prev{
    left: 3em;
  }
  .splide .splide__arrows .splide__arrow:nth-child(1){
    background: linear-gradient(to right, yellow, pink);
    color: white;
  }
  .splide .splide__arrows .splide__arrow:nth-child(2){
    background: linear-gradient(to right, blue, red);
  }
}