:root {
    --main-color: #fc5404;
}
.btn-orange{
    background-image: linear-gradient(to bottom, #fc4404, #fc6c04);
}
.text-orange-light{
    color: #fc6c04;
}
pre {
    background-color: #faf8f5;
    padding: 1em;
}
body{
    background-color: #f1f5f6;
}
